
.w-full {
    width: 100%;
}
.w-1\/2 {
    width: calc(100% / 2); /* 50% */
}
.w-1\/3 {
    width: calc(100% / 3); /* 33.33% */
}
.w-2\/3 {
    width: calc(100% / 3 * 2); /* 66.66% */
}

.max-w-md {
    max-width: 28rem;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}

/* Align Items */
.items-center {
    align-items: center;
}
.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}

/* Justify Content */
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}

/* Gap */
.gap-1 {
    gap: 0.25rem;
}
.gap-2 {
    gap: 0.5rem;
}
.gap-3 {
    gap: 0.75rem;
}
.gap-4 {
    gap: 1rem;
}

.center-content-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Text */
.text-2xl {
    font-size: 2rem;
    line-height: 1.2;
}
.text-xl {
    font-size: 1.5rem;
    line-height: 1.2;
}
.text-lg {
    font-size: 16px;
    line-height: 1.2;
}
.text-md {
    font-size: 14px;
    line-height: 1.2;
}
.text-sm {
    font-size: 12px;
    line-height: 1.2;
}
.text-xs {
    font-size: 10px;
    line-height: 1.2;
}

/* Font Weight */
.font-bold {
    font-weight: 700;
}
.font-semibold {
    font-weight: 600;
}
.font-medium {
    font-weight: 500;
}
.font-normal {
    font-weight: 400;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Text Align */
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

/* Text Colors */
.text-white {
    color: var(--slate-100);
}
.text-black {
    color: var(--slate-950);
}
.text-slate-100 {
    color: var(--slate-100);
}
.text-slate-200 {
    color: var(--slate-200);
}
.text-slate-300 {
    color: var(--slate-300);
}
.text-slate-400 {
    color: var(--slate-400);
}
.text-red-500 {
    color: var(--red-500);
}

/* Background Colors */
.bg-black {
    background-color: var(--slate-950);
}
.bg-white {
    background-color: var(--slate-100);
}

/* Padding */
.p-1 {
    padding: 0.25rem;
}
.p-2 {
    padding: 0.5rem;
}
.p-3 {
    padding: 0.75rem;
}
.pt-3 {
    padding-top: 0.75rem;
}
.p-4 {
    padding: 1rem;
}
.p-5 {
    padding: 1.25rem;
}

/* Margin */
.m-0 {
    margin: 0px;
}
.m-1 {
    margin: 0.25rem;
}
.m-2 {
    margin: 0.5rem;
}
.m-3 {
    margin: 0.75rem;
}
.m-auto {
    margin: auto;
}
.mx-auto {
    margin-right: auto;
    margin-left: auto;
}
.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mt-1 {
    margin-top: 0.25rem;
}
.mt-2 {
    margin-top: 0.75rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 2rem;
}

/* Overflow */
.overflow-y-auto {
    overflow-y: auto;
}
.overflow-y-hidden {
    overflow-y: hidden;
}
.overflow-x-auto {
    overflow-x: auto;
}
.overflow-x-hidden {
    overflow-x: hidden;
}

.text-overflow-ellipses {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.whitespace-normal {
    white-space: normal;
}
.whitespace-nowrap {
    white-space: nowrap;
}