<head th:replace="~{components/head :: head}"></head>

<header th:replace="~{components/header :: header}"></header>

<div
    class="flex flex-col justify-start w-full flex-1 container mx-auto pt-6 mb-10 px-6"
>
    <h1 class="text-xl font-medium text-zinc-400 text-center">
        Film List Page
    </h1>

    <form class="flex flex-row items-center justify-center w-full py-3 gap-4">
        <input
            type="text"
            class="w-full h-10 py-2 px-4 text-base font-light text-zinc-400 bg-zinc-800 rounded-md border border-zinc-800 focus-visible:ring-1 focus-visible:ring-zinc-500 focus-visible:border-zinc-500/70 placeholder-zinc-500/50 hover:border-zinc-500/70 hover:bg-zinc-800/20"
            placeholder="Search Films"
            name="search"
            th:value="${search}"
        />

        <button
            type="submit"
            class="h-10 px-3 text-zinc-100 bg-zinc-500/20 rounded-md border border-zinc-600 hover:bg-zinc-600/20 hover:border-zinc-600/70 flex flex-row items-center justify-center"
        >
            <svg
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                class="w-5 h-5 stroke-current"
            >
                <circle cx="11" cy="11" r="8" />
                <path d="m21 21-4.3-4.3" />
            </svg>
        </button>
    </form>

    <div
        class="w-full grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 justify-center"
    >
        <a
            th:each="film : ${films}"
            th:href="'/film/' + ${film.filmId}"
            class="flex flex-col items-start justify-center w-full gap-3 bg-zinc-950 border border-zinc-800 rounded-md py-6 px-4"
        >
            <h1
                th:text="${film.title}"
                class="text-xl font-medium text-zinc-100"
            ></h1>
            <p
                th:text="${film.description}"
                class="text-base font-ligt text-zinc-400 overflow-ellipsis overflow-hidden line-clamp-3"
            ></p>

            <div class="w-full flex felx-row items-center justify-between mt-2">
                <p
                    th:text="'$' + ${film.rentalRate}"
                    class="text-base font-normal text-zinc-300"
                ></p>
                <p
                    th:text="${film.lastUpdate}"
                    class="format-date text-base font-normal text-zinc-300"
                ></p>
            </div>
        </a>
    </div>
</div>

<footer th:replace="~{components/footer :: footer}"></footer>
