<head th:replace="~{components/head :: head}"></head>

<header th:replace="~{components/header :: header}"></header>

<div class="flex items-center justify-center w-full h-full flex-1">
  <div class="flex flex-col items-center justify-center w-full h-full gap-4">
    <h1 class="text-4xl font-bold text-zinc-400">
      Java-SpringBoot | Neurelo API
    </h1>
    <p class="text-lg font-light text-zinc-200">
      Built with Thymeleaf Template Engine
    </p>

    <a
      href="/films"
      class="no-underline mt-4 px-4 py-2 text-base font-medium text-sky-100 bg-sky-500/20 rounded-md border border-sky-400"
    >
      Get Started
    </a>
  </div>
</div>

<footer th:replace="~{components/footer :: footer}"></footer>
